body{
    		background-image: url('../images/banner2.jpg');
    		background-position: center;
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-attachment: fixed;
        font-family: microsoft jhengHei;
    	}

nav{
        background-color: rgba(0, 0, 0, 0.35);
        transition: all 0.5s;
      }

nav:hover{
         background-color: rgba(0, 0, 0, 1);
      }

nav h1{
  animation:showTxt 2s;
}
@keyframes showTxt{
  from{transform:scale(0.5,0.5) rotate(10deg);}
  to{transform:scale(1.0,1.0) rotate(0deg);}
}